.boton-carrito {
    border: none;
    color: #000;
    font-size: 20px;
    background-color: none;
    border-radius: 50%;
    padding: 5px 10px;
    transition: all .3s;
}
.boton-carrito:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(236, 153, 51); 
}
.boton-carrito:focus {
    outline: none;
}
